@font-face{
    font-family: 'Lato-Black';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Lato-Black/Lato-Black.woff2') format('woff2'), url('fonts/Lato-Black/Lato-Black.woff') format('woff');
}

@font-face{
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Lato-Bold/Lato-Bold.woff2') format('woff2'), url('fonts/Lato-Bold/Lato-Bold.woff') format('woff');
}

@font-face{
    font-family: 'Lato-Italic';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Lato-Italic/Lato-Italic.woff2') format('woff2'), url('fonts/Lato-Italic/Lato-Italic.woff') format('woff');
}

@font-face{
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Lato-Light/Lato-Light.woff2') format('woff2'), url('fonts/Lato-Light/Lato-Light.woff') format('woff');
}

@font-face{
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Lato-Regular/Lato-Regular.woff2') format('woff2'), url('fonts/Lato-Regular/Lato-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    /* outline: none; */
}

.container{
    margin: 0 auto;
    max-width: 1600px;
}

.center {
    padding-left: calc(50% - 570);
    padding-right: calc(50% - 570);
}

.header{
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 859px;
    background-color: #222222;
}

.header_left{
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 41px;
}

.header_right{
    padding-top: 26px;
    padding-bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

.icon {
    background-color: #222222;
}

.icon_menu{
    
}

.background {
    display: flex;
    gap: 63.42px;
    background-color: #F1E4E6;
    justify-content: flex-start;
    align-items: flex-start;
}
.back_img {
    max-width: 764px;
}
.back_info {
    padding-top: 290px;
    display: flex;
    align-items: center;
}

.back_text{

}

.back_text_head {
    font-family: 'Lato-Black';
    font-size: 48px;
    color: #222222;
}
.back_text_down {
    display: flex;
    font-family: 'Lato-Bold';
    font-size: 32px;
    color: #222222;
    gap: 5px;
}
.bt_red {
    color: #F16D7F;
}
.offer {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    padding-top: 65px;
    background-color: #F8F8F8;
}
.offer_card {
    display: flex;
    max-width: 360px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.off_info {
    position: absolute;
}
.off_text {
    display: flex;
    justify-content: center;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #FFFFFF;
}
.off_title {
    display: flex;
    justify-content: center;
    font-family: 'Lato-Bold';
    font-size: 24px;
    color: #F16D7F;
}
.offer_card_big {
    max-width: 1140px;
    grid-column: span 3;
}
.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    background-color: #F8F8F8;
}
.prod_title {
    display: flex;
    justify-content: center;

    font-family: 'Lato-Regular';
    font-size: 30px;
    color: #222222;
}
.prod_text {
    display: flex;
    justify-content: center;
    padding-top: 6px;

    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #9F9F9F;
}
.prod_cards {
    padding-top: 48px;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    color: #F8F8F8;
}

.prod__img_container{
    position: relative;
    /* width: max-content; */
}

.prod__card_img{
    display: block;
}

.hover-image{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
}

.prod__img_container:hover .hover-image {
    display: block;
    cursor: pointer;
}

.prod_card_title {
    padding-top: 25px;
    margin-left: 16px;

    font-family: 'Lato-Regular';
    font-size: 13px;
    color: #000000;
}
.prod_card_text {
    padding-top: 16px;
    margin-left: 16px;
    max-width: 314.74px;

    font-family: 'Lato-Light';
    font-size: 14px;
    color: #5D5D5D;
}
.prod_card_price {
    padding-top: 16px;
    margin-left: 16px;

    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #F16D7F;
}

.btn_prod {
    margin-top: 49px;
    margin-bottom: 95px;
    display: flex;
    align-items: center;
    min-width: 212px;
    min-height: 48px;
    border: 2px solid #ff6a6a;
    background: none;
    justify-content: center;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #F26376;
}

.btn_prod:hover{
    background-color: #F16D7F;
    color: #FFFFFF;
}

.feature{
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #222224;
    display: flex;
    justify-content: center;
}

.feature__content{
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
}

.feature__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 320px;
    margin-left: calc(50% - 160px);;
    margin-right: calc(50% - 160px);;
}

.feature__img{
    align-items: start;
}

.feature__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #FBFBFB;
}

.feature__info_head{
    font-family: "Lato-Regular";
    font-size: 20px;
    padding-top: 28px;
}

.feature__info_text{
    font-family: "Lato-Light";
    font-size: 14px;
    padding-top: 16px;
}

.subscribe{
    background-image: url(img/subscribe/back.svg);
    background-size: cover;
    background-position: left center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 223.26px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.subscribe__left{
    margin-top: 97px;
    margin-bottom: 126px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.subscribe__info{
    max-width: 365px;
    max-height: 225px;
    
}

.subscribe__info_img{
    max-width: 96px;
}

.subscribe__info_text{
    padding-top: 30px;
    font-family: 'Lato-Regular';
    font-size: 20px;
    text-align: center;
}

.subscribe__info_text-italics {
    font-family: 'Lato-Italic';
    font-size: 20px;
}

.subscribe__form{
    max-width: 557px;
    text-align: center;
}

.subscribe__form_title{
    font-family: 'Lato-Bold';
    font-size: 24px;
    color: #222224;
}

.subscribe__form_text{
    margin-top: 8px;
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: #222224;
}

.subscribe__form_input{
    display: flex;
    align-items: center;
    margin-top: 32px;
    width: 100%;
    height: 49px;
    background-color: #E1E1E1;
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #222224;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: none;
}

.input{
    border: none;
    width: 100%;
    border-radius: 25px 0 0 25px;
    background-color: #E1E1E1;
    margin-left: 22px;
}

.subscribe__form_btn{
    padding-left: 18px;
    padding-right: 18px;
    width: 100px;
    height: 49px;
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #FFFFFF;
    background-color: #F16D7F;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.footer{
    background-color: #222224;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer__text{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #FBFBFB;
}

.footer__right{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 7.29px
}

.footer__btn{
    width: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    transition: background-color .3s;
    border: none;
    outline: none;
}

.footer__btn:hover {
    background-color: #F16D7F;
}

.footer__btn:hover .footer__icon {
    filter: invert(1);
}

@media (max-width: 1024px){
    .center{
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .header{
        gap: 424px;
    }

    .header_right{
        gap: 25px;
    }

    .background{
        gap: 39px;
    }

    .back_img {
        max-width: 386px;
    }

    .back_info{
        padding-top: 138px;
        gap: 16px;
    }

    .back_text_head{
        font-size: 44px;
    }

    .back_text_down{
        font-size: 24px;
    }

    .offer{
        gap: 19px;
        grid-template-columns: repeat(3, 232px);
    }

    .products{
        padding-top: 110px;
    }

    .prod_cards{
        padding-top: 73px;
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
    }

    .prod_card_text{
        padding-top: 12.65px;
    }

    .prod_card_price{
        padding-top: 18px;
    }

    .btn_prod{
        margin-top: 32px;
        margin-bottom: 65px;
    }

    .feature{
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .feature__content{
        display: flex;
        flex-direction: column;
    }

    .subscribe img{

    }

    .subscribe{
        padding-top: 64px;
        padding-bottom: 140px;
        background-position: left 10%;
        flex-direction: column;
        gap: 48px;
        padding-left: calc(50% - 205px);
        padding-right: calc(50% - 205px);
    }

    .subscribe__left{
        margin-top: 0;
        margin-bottom: 0;
    }

    .subscribe__info{}

    .subscribe__info_img{}

    .subscribe__info_text{}

    .subscribe__form{

    }

    .subscribe__form_title{}

    .subscribe__form_text{}

    .subscribe__form_form{}

    .subscribe__form_input{}

    .subscribe__form_btn{}

    .footer{

    }
    
    .footer__text{

    }
    
    .footer__rigth{

    }
    
    .footer__btn{

    }
}

@media (min-width: 320px) and (max-width: 767px){

    .center{
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .header{
        gap: 200px;
    }

    .header_left{
        margin-left: 16px;
    }

    .header_right{
        margin-right: 25px;
    }

    .icon_lk{
        display: none;
    }

    .icon_basket{
        display: none;
    }

    .background{
        justify-content: center;
        align-items: center;
    }

    .back_img{
        display: none;
    }

    .back_info{
        gap: 15px;
        padding-bottom: 148px;
    }

    .back_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .back_text_head{
        font-size: 38px;
    }

    .back_text_down{
        font-size: 20px;
    }

    .offer{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .offer_card_big img {
        width: 343px;
        height: 111px;
        object-fit: cover;
        object-position: center;
    }

    .offer_card_big{
        max-width: 343px;
        grid-column: span 1;
    }

    .off_info{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .prod_cards{
        display: flex;
        flex-direction: column;
        max-width: 359px;
    }

    .prod_text{
        margin-left: 17px;
    }

    .btn_prod{
        margin-top: 40px;
        margin-bottom: 96px;
    }

    .feature__info_text{
        padding-top: 15px;
    }

    .subscribe{
        padding-bottom: 110px;
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }

    .subscribe__info{}

    .subscribe__info_img{}

    .subscribe__info_text{}

    .subscribe__form{}

    .subscribe__form_title{}

    .subscribe__form_text{}

    .subscribe__form_form{}

    .subscribe__form_input{}

    .subscribe__form_btn{}

    .footer{
        flex-direction: column-reverse;
    }
    
    .footer__text{

    }
    
    .footer__rigth{

    }
    
    .footer__btn{

    }
}